@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Fauna+One&display=swap');
/* font-family: "Fauna One", serif; */
/*font-family: "Cinzel", serif;*/



*, *::after, *::before{
    box-sizing: border-box;
}

body {
    /* background-color: rgb(54, 54, 50); */
    margin: 0;
    font-family: "Fauna One", serif;
    /* background-image: url("../img/comm_0004_aqua_ani.mp4"); */
    background-size: cover;
}

video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.mainScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27vh;
}

.mainTitle{
    font-family: "Cinzel", serif;
    font-weight: 600;
    font-size: 5rem;
    background: -webkit-linear-gradient(#ffffff, #a8983e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

.mainNav{
    display: flex;
    font-family: "Fauna One", serif; 
    font-weight: 300;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    gap: 2rem;
    
}



